.bg {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-color: white;
  background-size: cover;

  &.v1 {
    background-image: url("../../img/image.png");
  }
  &.v2 {
    background-image: url("../../img/inlined_image.svg");
  }
}